/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  exclude: rootscrollgutter, rootcolor;
}

@theme {
  --color-aleinnovat-green: #96c540;
  --color-global-bg: #edf4ff;
}

body {
  @apply bg-global-bg;
  font-family: "Roboto", sans-serif;
}
